<!doctype html>

<html lang="nl">
    <head>
        <meta charset="utf-8">
		
        <title>Foebelpooltje</title>
        <meta name="description" content="The foebel pool for the whole family">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>

    <header id="mainheader" class="header">  
    </header>
    <body>
        
        <div id = "app">
            <links 
            v-on:admin-confirmed="goToAdmin"
            v-on:show-played-matches="showPlayedMatchespls"
            v-on:get-played-matches="getPlayedMatches">
            </links>

            <admin-screen
            v-if=haveAdminRights
            v-on:team-confirmed="addTeam"
            v-on:match-confirmed="addMatch"
            v-on:show-matches="getMatchesToGiveResult"
            >
            </admin-screen>      
        
        <matches-screen
            v-if=showPlayed
            v-bind:played-matches=playedMatches
            >
        </matches-screen>
       
        </div>
        
        <script>
        Vue.component('admin-screen', {
            props: [ 'matches' ],
            data() {
                return {
                    teamName: undefined,
                    homeTeam: "",
                    awayTeam:"",
                    awayGoals:"",
                    homeGoals:"",
                    round:0,
                    roundThatHasBeen:0,
                    errorMessage: "",
                }
            },
            
            template: `
                <div>
                    </br> {{ errorMessage }}</br>
                    Voeg Team toe
                    </br><input placeholder = 'naam' v-model="teamName"/>
                   
                    </br><button v-on:click="confirmTeam">Stort</button>
                    </br>
                    </br></br>

                    Kan ook wel wedstrijd toevoegen als je wilt
                    </br><input placeholder = 'Thuisteam' v-model="homeTeam"/>
                    </br><input placeholder = 'Uitteam' v-model="awayTeam"/>
                    </br><input placeholder = 'Speelronde' v-model="round" min = 0 step =1/>Speelronde
                    </br><button v-on:click="confirmMatch">Stort</button>
                    
                    </br></br>

                    Of missschien uitslagen invullen van speelronde:
                    </br><input placeholder = 'round' v-model="roundThatHasBeen" min = 0 step =1/>
                    </br><button v-on:click="showMatches">Laat zien dan</button>
                    
                    </div>
            `,
            methods: {
                confirmTeam() {
                    if (!this.teamName) {
                        this.errorMessage = "wel team naam toevoegen";
                        return;
                    }

                    this.errorMessage = "";
                    this.$emit('team-confirmed', this.teamName);                 
                },
                confirmMatch() {
                    if (!this.homeTeam || !this.awayTeam) {
                        this.errorMessage = "wel team naam toevoegen";
                        return;
                    }

                    this.errorMessage = "";
                    this.$emit('match-confirmed', this.homeTeam, this.awayTeam, this.round);                 
                },
                showMatches() {
                    if (!this.roundThatHasBeen) {
                        this.errorMessage = "wel speelronde toevoegen";
                        return;
                    }
                    this.errorMessage = "";
                    this.$emit('show-matches', this.roundThatHasBeen);
                }
            }
        });

        Vue.component('links', {
            data() {
                return {
                }
            },
            template: `
                <div>
                    <button v-on:click="adminRights">admin</button>
                    <button v-on:click="getPlayedMatches">haal afgelopen potjes op</button>  
                    <button v-on:click="showPlayedMatches">laat afgelopen potjes zien</button>    
                </div>
                    
            `,
            methods: {   
                adminRights(){
                    this.$emit('admin-confirmed'); 
                },
                getPlayedMatches(){
                    this.$emit('get-played-matches'); 
                },
                showPlayedMatches(){
                    this.$emit('show-played-matches'); 
                }
            },
                
         });

         Vue.component('matches-screen', {
            props: [ 'playedMatches' ],
            data() {
                return {  
                       
                }
            },
            
            template: `
                <div>
                        <li v-for="match in playedMatches">
                            {{ match["homeTeam"] }} vs. {{ match["awayTeam"] }}&nbsp;&nbsp;
                            {{ match["homeGoals"] }}-{{ match["awayGoals"] }}
                        </li>
                    

                </div>
                    
            `,
            methods: {   
            }
         });
         


    const app = new Vue({
        el: '#app',

        data: {
            haveAdminRights: false,
            showPlayed: false,
            matches: undefined,
            playedMatches: undefined 
        },

        computed: {
            
        },
        methods: {
            async goToAdmin(){
                this.haveAdminRights= !this.haveAdminRights
                return this.haveAdminRights 
            },
            async showPlayedMatchespls(){
                console.log(playedMatches.length)
                this.showPlayed= !this.showPlayed;
                return this.showPlayed; 
            },
            async addTeam(teamName){
                console.log(teamName);
                let newTeam = {"teamName": teamName}
                await fetch('api/addTeam', {
                    method: 'POST',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(newTeam)  
                })
            },
            async addMatch(homeTeam, awayTeam, round){
                console.log(homeTeam + "" + awayTeam + "" + round);
                let newMatch = {
                    "homeTeam": homeTeam,
                    "awayTeam": awayTeam,
                    "round": round
            }
                await fetch('api/addMatch', {
                    method: 'POST',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(newMatch)  
                })
            },
            async getMatchesToGiveResult(roundThatHasBeen){
                console.log(roundThatHasBeen);
                let newRoundThatHasBeen= {"round": roundThatHasBeen}
                let response = await fetch('api/showMatch/', {
                    method: 'POST',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(newRoundThatHasBeen) 
                })
                let matches = await response.json();
                this.matches=matches;
                console.log(matches);
                
                
            },
            async getPlayedMatches(){
                let response = await fetch('/api/getPlayed/', {
                    method: 'GET',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                })
                playedMatches = await response.json();
                this.playedMatches=playedMatches;
                console.log(playedMatches);
            },
        },
    })

                
    </script>
     
    <script src="src/foebelIndex.js"></script>

    </body>
</html>

