<!doctype html>

<html lang="nl">
    <head>
        <meta charset="utf-8">
		
        <title>Foebelpooltje</title>
        <meta name="description" content="The foebel pool for the whole family">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>

    <header id="mainheader" class="header">  
    </header>
    <body>
        
        <div id = "app">
            <links 
            v-on:admin-confirmed="goToAdmin"
            v-on:get-played-matches="getPlayedMatches"
            v-on:show-register-user="goToRegister"
            v-on:show-user-login="goToLogin"
            v-on:show-matches-to-predict="goToPredictMatches"
            v-on:show-my-predictions="getMyPredictions">
            </links>

            <admin-screen
            v-if=haveAdminRights
            v-on:team-confirmed="addTeam"
            v-on:match-confirmed="addMatch"
            v-on:show-matches="getMatchesToGiveResult"
            >
            </admin-screen>      
        
            <matches-screen
                v-if=showPlayed
                v-bind:played-matches=playedMatches
                >
            </matches-screen>

            <fill-in-results-screen
                v-if=showMatchesForResult
                v-bind:matches=matches
                v-on:give-results-to-matches="sendResults">
            </fill-in-results-screen>
        
            <register-screen
                v-if=showRegisterForm
                v-on:register-user="registerUser">
            </register-screen>

            <login-screen
                v-if=showUserLogin
                v-on:user-login="userLogin">
            </login-screen>
            
            <predict-screen
                v-if=predictMatches
                v-on:predict-matches="showMatchesToPredict"
                v-bind:matches-to-predict="matchesToPredict"
                v-on:send-prediction="sendMatchPrediction">
            </predict-screen>

            <my-predictions-screen
                v-if=showMyPredictions
                v-bind:my-predictions="myPredictions"
                v-on:show-my-predictions=getMyPredictions>
            </my-predictions-screen>

        </div>
        <script src="src/components.js">
        
    
    </script>
    </body>
</html>

