<!doctype html>

<html lang="nl">
    <head>
        <meta charset="utf-8">
		
        <title>Foebelpooltje</title>
        <meta name="description" content="The foebel pool for the whole family">
        <link rel="stylesheet" href="style/standard.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <header id="mainHeader" class="header">
            <center>Voetbalpool</center>
        </header>
    <header id="mainHeader" class="header">  
    </header>
    <body>
        
        
        <div id = "app">
            <links 
            v-on:admin-confirmed="goToAdmin"
            v-on:get-played-matches="getPlayedMatches"
            v-on:show-register-user="goToRegister"
            v-on:user-log-off="hideAllScreens"
            v-on:show-matches-to-predict="goToPredictMatches"
            v-on:get-every-team="getEveryTeam"
            v-on:show-my-predictions="getMyPredictions"
            v-on:show-leaderboard="getLeaderboard"
            v-on:user-login="userLogin"
            v-bind:user-name="userName">
            </links>
        
            <admin-screen class = "split right"
            v-if=haveAdminRights
            v-on:team-confirmed="addTeam"
            v-on:match-confirmed="addMatch"
            v-on:show-matches="getMatchesToGiveResult"
            v-on:give-score="scorePredictions"
            v-on:go-to-tournaments="goToTournaments"
            >
            </admin-screen>      
        
            <matches-screen class = "split left"
                v-if=showPlayed
                v-bind:played-matches=playedMatches
                >
            </matches-screen>

            <tournament-screen class = "split right"
                v-if=showTournamentScreen
                v-on:send-tournament-data="sendTournamentData">
            </tournament-screen>

            <fill-in-results-screen class = "split resultsScreen"
                v-if=showMatchesForResult
                v-bind:matches=matches
                v-on:give-results-to-matches="sendResults">
            </fill-in-results-screen>
        
            <register-screen class = "split right"
                v-if=showRegisterForm
                v-on:register-user="registerUser">
            </register-screen>
            
            <predict-screen class = "split right"
                v-if=predictMatches
                v-on:predict-matches="showMatchesToPredict"
                v-bind:matches-to-predict="matchesToPredict"
                v-on:send-prediction="sendMatchPrediction"
                v-on:show-tournament-matches-to-predict="showTournamentMatchesToPredict"
                v-on:show-league-matches-to-predict="showMatchesToPredict">
            </predict-screen>

            <my-predictions-screen class = "split right"
                v-if=showMyPredictions
                v-bind:my-predictions="myPredictions"
                v-on:show-my-predictions=getMyPredictions>
            </my-predictions-screen>

            <leaderboard-screen class = "split right"
                v-if=showLeaderboard
                v-bind:users="users">
            </leaderboard-screen>

        </div>
        <script src="src/components.js"></script>
    </body>
</html>

